.rem(@px) {
  @res: @px / @font-size * 1rem;
}

.vw(@px) {
  @res: @px / @view-height * 100vw;
}

@font-size: 18px;
@view-height: 750px;
@radius: 4px;

.btn-style {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  // border-top-right-radius: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  // font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: @radius;
}
.base-hover {
  background: rgba(0, 0, 0, 0.03);
}

.input-style {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: @radius;
  border: 1px solid #dcdfe6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  color: #606266;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 300px;
}

.btn-input-append {
  .search-btn button  {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}