// .babelrc
"plugins": [
  [
    "import",
    {
      "libraryName": "antd",
      "libraryDirectory": "lib"
    },
    "ant"
  ],
  [
    "import",
    {
      "libraryName": "antd-pro",
      "libraryDirectory": "lib"
    },
    "ant-pro"
  ],
]